body,
html {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #777;
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
}
h1,
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
}
h2 {
  text-transform: uppercase;
  margin: 0 0 20px;
  font-weight: 800;
  font-size: 36px;
  color: #333;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
h4 {
  font-size: 18px;
  color: #333;
  font-weight: 600;
}
h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}
p {
  font-size: 15px;
}
p.intro {
  margin: 12px 0 0;
  line-height: 24px;
}
a {
  color: #608dfd;
  font-weight: 400;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #608dfd;
}
ul,
ol {
  list-style: none;
}
ul,
ol {
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
}
hr {
  height: 2px;
  width: 70px;
  text-align: center;
  position: relative;
  background: #1e7a46;
  margin-bottom: 20px;
  border: 0;
}
/* Navigation */
#menu {
  padding: 15px;
  transition: all 0.8s;
 
}
#menu.navbar-default {
  background-color:#CBE4DE;
  border-color: rgba(231, 231, 231, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
#menu a.navbar-brand {
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  font-weight: 700;
  color:#CBE4DE;
  text-transform: uppercase;
}
#menu.navbar-default .navbar-nav > li >a {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color:#2C3333;
  font-size: 15px;
  font-weight: 400;
  padding: 15px 7px;
  border-radius: 0;
  margin: 9px 20px 0;
 
  
}
#menu.navbar-default .navbar-nav > li > a:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #2E4F4F 0%, #0E8388 100%);
  content: "";
  transition: width 0.2s;
}
#menu.navbar-default .navbar-nav > li > a:hover:after {
  width: 100%;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:after,
.navbar-default .navbar-nav > .active > a:hover:after,
.navbar-default .navbar-nav > .active > a:focus:after {
  display: block !important;
  position: absolute !important;
  left: 0 !important;
  bottom: -1px !important;
  width: 100% !important;
  height: 2px !important;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%) !important;
  content: "" !important;
  transition: width 0.2s !important;
}
.navbar-toggle {
  border-radius: 0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fff;
  border-color: #608dfd;
}
.navbar-default .navbar-toggle:hover > .icon-bar {
  background-color: #608dfd;
}
.section-title {
  margin-bottom: 70px;
}
.section-title h2 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.section-title h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}
.section-title p {
  font-size: 18px;
}
.btn-custom {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #5ca9fb;
  background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  padding: 14px 34px;
  letter-spacing: 1px;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  border-radius: 25px;
  transition: all 0.5s linear;
  border: 0;
  box-shadow: 0 0 10px #CBE4DE;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: .2s;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active {
  color: #fff;
  background-image: none;
  background-color: #0E8388;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: none;
}
/* Dropdown Button */
.dropbtn {
 
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
/* .drop{
  padding: 10px;
  background-color: #010305;
} */

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #CBE4DE;
  min-width: 160px;
  box-shadow: 0 0 20px #0E8388;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
  
}
.drt option :hover{
  background-color: #d7e4e4; 
  box-shadow: 0 0 20px #0E8388; 
  color: #CBE4DE;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #2C3333;
  padding: 12px 14px;
  text-decoration: none;
  display: block;
  font-weight: 500;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #2E4F4F; box-shadow: 0 0 20px #0E8388; color: #CBE4DE;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {background-color: #2E4F4F;} */
/* Header Section */
.intro {
  display: table;
  width: 100%;
  padding: 0;
  background: url(../img/header1.png) center center no-repeat;
  background-color: #e5e5e5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; 
 
  /* bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px; */
}
.abc{
  position:fixed;
}
.videoTag{
 
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;/* optional depending on what you want to do in your app */
  
  
  }
.intro .overlay {
  background: rgba(0, 0, 0, 0.2);
}
.intro h1 {
  /* font-family: "Raleway", sans-serif; */
  font-family: 'Handjet', cursive;
font-family: 'PT Sans', sans-serif;
  color: #CBE4DE;
  font-size: 40px;
  font-weight: 500;
  /* text-transform: uppercase; */
  margin-top: 0;
  margin-bottom: 10px;
}
.intro h1 span {
  font-weight: 600;
  color: #2C3333;
}
#btns{
  display: inline-block;
  margin-top: 30px;
  padding: 12px 28px;
  border-radius: 40px;
  box-shadow: 0 0 10px #0ef;
  font-size: 16px;
  color: #1f242d;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: .7s;
  margin-top: 30px;

}
.intro p {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 50px;
}
header .intro-text {
  padding-top: 350px;
  padding-bottom: 200px;
  text-align: center;
}
#conbtn{
  background-color: #2C3333;
}
/* Features Section */
#features {
  background: #CBE4DE;
  margin-top: 80px;
 
  
}
#features h2{
  margin-top: 25px;
}
#features p{
  color: #2C3333;
  font-size: 16px;
}
#features i.fa {
  font-size: 38px;
  margin-bottom: 20px;
  transition: all 0.5s;
  color: #CBE4DE;
  width: 100px;
  height: 100px;
  padding: 30px 0;
  border-radius: 50%;
  background: linear-gradient(to right, #2E4F4F 0%, #0E8388 100%);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}
.f1 >div >p{
  text-align: justify;
  padding-right: 30px;
}
/* About Section */
#about {
  padding: 100px 0;
  background-color: #0E8388;
}
#about h3 {
  font-size: 22px;
  margin: 0 0 20px;
  color: #2C3333;
  margin-top: 15px;
}
#about h2 {
  position: relative;
  margin-bottom: 15px;
  padding: 15px;
  color: #2C3333;

}
#about h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #010305 0%, #0f0f11 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 0;

}
#about .about-text li {
  margin-bottom: 6px;
  margin-left: 6px;
  list-style: none;
  padding: 0;
  color: #CBE4DE;
}
#about .about-text li:before {
  content: "\f00c";
  font-family: "FontAwesome";
  color: #CBE4DE;
  font-size: 18px;
  font-weight: 300;
  padding-right: 8px;
}
#about img {
  width: 520px;
  margin-top: 10px;
  background: #fff;
  border-right: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
}
#about p {
  line-height: 24px;
  margin: 30px 0;
  color: #CBE4DE;
}
.aboutnew{
  padding-top: 40px !important;
  padding-bottom: 40px;
}
/* Services Section */
#services {
  padding: 70px 0;
  background: #CBE4DE;
  color: #2C3333;
}
#services .service-desc {
  margin: 10px 10px 20px;
  box-shadow: 0 0 10px #CBE4DE;
}
#services h2 {
  color: #0E8388;
  font-size: 45px;
 
}
#services h1{
  font-size: 30px;
  color: #2C3333;
}
#services .section-title h2::after {
  position: absolute;
  content: "";
  background: rgba(7, 3, 3, 0.3);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
  box-shadow: 0 0 10px #CBE4DE;
}
#services i.fa {
  font-size: 42px;
  width: 120px;
  height: 120px;
  padding: 40px 0;
  background: linear-gradient(to right, #2E4F4F 0%, #0E8388 100%);
  border-radius: 50%;
  color: #CBE4DE;
  box-shadow: 0 0 10px #CBE4DE;
}
#services h3 {
  font-weight: 500;
  padding: 10px 0;
  color: #2E4F4F;
}
#services p {
  color: #2E4F4F;
}
.s1{
  box-shadow: 0 0 10px #0E8388;
  padding: 20px;
  margin-top: 20px;
}
.img-responsive{
  height: 300px !important;
  width: 500px !important;
  /* padding: 20px ; */
  /* box-shadow: 10px 10px 10px #CBE4DE; */
  box-shadow: 0 0 20px #0E8388 ;
}
.img-responsives{
  height: 300px !important;
  width: 500px !important;
  
}
#services .service-desc {
  margin-bottom: 40px;
}
/* Portfolio Section */
#portfolio {
  padding: 100px 0;
  background-color: #0E8388;
}
#portfolio{
  color: #CBE4DE;
  height: 700px;
}
#potfolio h2{
  color: #0E8388;
}
.portfolio-item {
  /* margin: 1px -15px 0 -14px; */
  padding: 0;
}
.portfolio-item .hover-bg {
  overflow: hidden;
  position: relative;
  margin: 0;
}
/* .img-responsive{
  height: 300px;
  width: 500px;
  border: 10px solid #CBE4DE;
  
} */
.small{
  border: 10px solid #CBE4DE;
}
.hover-bg .hover-text {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  color: #2C3333;
  background: linear-gradient(
    to right,
    rgba(99, 114, 255, 0.8) 0%,
    #CBE4DE 100%
  );
  box-shadow: 0 0 20px #0E8388;
  padding: 30% 0 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
}
.hover-bg .hover-text > h4 {
  opacity: 0;
  color: #2C3333;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: all 0.3s;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
}
.hover-bg:hover .hover-text > h4 {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.hover-bg:hover .hover-text {
  opacity: 1;
}
/* Testimonials Section */
#testimonials {
  padding: 100px 0;
  background: #f6f6f6;
}
#testimonials i {
  color: #e6e6e6;
  font-size: 32px;
  margin-bottom: 20px;
}
.testimonial {
  position: relative;
  padding: 20px;
}
.testimonial-image {
  float: left;
  margin-right: 15px;
}
.testimonial-image,
.testimonial-image img {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.testimonial-content {
  position: relative;
  overflow: hidden;
}
.testimonial-content p {
  margin-bottom: 0;
  font-size: 14px;
  font-style: italic;
}
.testimonial-meta {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #666;
}
/* Team Section */
#team {
  padding: 100px 0;
}
#team h4 {
  margin: 5px 0;
}
#team .team-img {
  width: 240px;
}
#team .thumbnail {
  background: transparent;
  border: 0;
}
#team .thumbnail .caption {
  padding: 10px 0 0;
  color: #888;
}
/* Contact Section */
#contact {
  padding: 100px 0 60px;
  background: #CBE4DE;
  color: #2C3333;
}
#contact .section-title {
  margin-bottom: 40px;
}
#contact .section-title p {
  font-size: 16px;
}
#contact h2 {
  color: #0E8388;
  font-size: 40px;
  text-transform: capitalize;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
#contact .section-title h2::after {
  position: absolute;
  content: "";
  background: rgba(255, 255, 255, 0.3);
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 30px;
}
#contact h3 {
  color: #2C3333;
  margin-top: 80px;
  margin-bottom: 25px;
  padding-bottom: 20px;
  font-weight: 400;
}
#contact form {
  padding-top: 20px;
}
#contact .text-danger {
  color: #cc0033;
  text-align: left;
}
#contact .btn-custom {
  margin: 30px 0;
  background: transparent;
  border: 1px solid #0E8388;
  color: #0E8388;
}
#contact .btn-custom:hover {
  color: #CBE4DE;
  background: #0E8388;
}
label {
  font-size: 12px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  float: left;
}
#contact .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #CBE4DE;
  background-color: #0E8388;
  background-image: none;
  border: 1px solid #CBE4DE;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
#contact .form-control:focus {
  border-color: #CBE4DE;
  outline: 0;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
  color: #CBE4DE;
}
.form-control:-moz-placeholder {
  color: #CBE4DE;
}
.form-control::-moz-placeholder {
  color: #CBE4DE;
}
.form-control:-ms-input-placeholder {
  color: #CBE4DE;
}
#contact .contact-item {
  margin: 20px 0;
}
#contact .contact-item span {
  color: #0E8388;
  margin-bottom: 10px;
  display: block;
}
#contact .contact-item i.fa {
  margin-right: 10px;
}
#contact .social {
  border-top: 1px solid #0E8388;
  padding-top: 50px;
  margin-top: 50px;
  text-align: center;
}
#contact .social ul li {
  display: inline-block;
  margin: 0 20px;
}
#contact .social i.fa {
  font-size: 22px;
  width: 48px;
  height: 48px;
  padding: 12px 0;
  border: 2px solid #0E8388;
  color: #0E8388;
  border-radius: 50%;
  transition: all 0.3s;
}
#contact .social i.fa:hover {
  color: #0E8388;
  background: #2E4F4F;
}
/* Footer Section*/
#footer {
  background: #2C3333;
  padding: 35px 0;
}
#footer p {
  color: #CBE4DE;
  font-size: 16px;
}
#footer a {
  color: #0E8388;
}
#footer a:hover {
  border-bottom: 2px solid #0E8388;
}
/* about1 */
.about2{

  margin-top: 80px;
  height: 250px;
  padding: 0px;
  /* display: table; */
    width: 100%;
    padding: 0;
    background: url(../img/header1.png)center center no-repeat ;
    background-color: #e5e5e5;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 55px;
  color:#CBE4DE ;
  text-align: center;
  
  
    
  
}
.about1 >div>h1{
  font-size: 40px;
  color:#CBE4DE ;
  font-weight: 800; 


}
/* /* } */
.about1 >div >span{
  margin-top: 0px;
  font-size: 20px;
  color: #2C3333;
  font-weight: 500;
  opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .1s;
    padding-left: 20px;
    padding-right: 20px;

}

.about3{
  background-color: #CBE4DE;
  padding-top: 20px;
  margin: 0px;
  padding-right: 40px;
  height: 700px;
  text-align: justify;
  

}
.about1 >div >h2{
  font-size: 18px;
  color: #2E4F4F;
  padding-left: 25px;
  padding-top: 20px;
  

}
.annual1{
 text-align: center;
  color: #0E8388;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.about1 >div >p{
  margin-top: 0px;
  font-size: 20px;
  color: #2E4F4F;
  padding-left: 30px;

}
.about4{
  height: 300px;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2E4F4F;
  font-family: cursive;
  background-color: #CBE4DE;
  text-align: justify;
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 30px;
}
.about5{
  margin-top: 80px;
  height: 250px;
  padding: 0px;
  /* display: table; */
    width: 100%;
    padding: 0;
    background: url(../img/header1.png)center center no-repeat ;
    background-color: #e5e5e5;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 55px;
  color:#CBE4DE ;
  font-weight: 800;
  text-align: center;
}
.about5 >div>h1{
  font-size: 55px;
  color:#CBE4DE ;
  font-weight: 800; }
.business{
  margin-top: 80px;
  height: 300px;
  padding: 0px;
  /* display: table; */
    width: 100%;
   
    background: url(../img/header1.png)center center no-repeat ;
    background-color: #e5e5e5;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   text-align: center;
  

}
.logo1{
  height: 60px;
  width: auto;
  /* background-color: white; */
  /* border-radius: 20px; */
  /* padding: 15px; */
 }
.business>div>h1{
  font-size: 50px;
  color:#CBE4DE ;
  font-weight: 800; }
  .business >div >span{
    margin-top: 0px;
    font-size: 16px;
    color: #2E4F4F;
   margin-right: 30px !important;
  
  }
  .about31{
    background-color: #CBE4DE;
  margin: 0px;
  padding: 0px;
  height: 1500px;
  text-align: justify;
  padding-right: 35px;
  

  }
  .about6{
    background-color: #CBE4DE;
  margin: 0px;
  padding: 0px;
  height: 700px;
  text-align: justify;
  padding-right: 35px;}
  .galcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gal3{
    height: 300px;
    width: 500px;
    /* background-color: black; */
   
    
  
  }

  /* }
  .galcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
   
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  
    height: 300px;
    width: 500px;
   

  } */

 
  /* } */
  .referral{
    width: 100%;
    height: 500px;
    /* padding: 40px; */
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #CBE4DE;
    
  }
  .r1{
    padding: 30px;

  }
  .r1 >h1{
    font-size: 45px;
    font-weight: 700;
    color: #0E8388;
    text-transform: uppercase;
  }
  .r1 >p{
    font-size: 22;
    color: #2C3333;
  }
   .r2 >h2{
    font-size: 30px;
    text-transform: capitalize;
    margin-top: 20px;
    color: #2E4F4F;
   }
   .r3{
    box-shadow: 0 0 10px #0E8388;
    padding: 20px;

   }
   .r3 >p{
    font-size: 18;
    color:#2C3333 ;
    
    opacity: 0;
    animation: zoomIn 1s ease forwards;
    /* animation-delay: .6s; */
   }

@media (max-width: 768px) {
  #about img {
    margin: 50px 0;
  }
  .referral{
    height: 1000px;
  }
}
@media (max-width: 768px) {
  .about2 h1 {
   font-size: 40px;
   display: flex;
   align-items: center;
   justify-content: center;

  }
  .about2{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about3{
    height: 1400px;
  }
  .about5 h1 {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
 
   }
   .about5{
     display: flex;
     font-size: 20px;
     align-items: center;
     justify-content: center;
   }
   .business{
    height:500px ;
    padding: 10px;
   }
   .about31{
    height: 3100px;
   }
   .about6{
    height: 1700px;
   }
   .short{
    height:800px ;
   }
   .gal3{
    height: 200px;
    width: 250px;
  
  
   }
   .img-responsive{
    height: 200px !important;
    width: 250px !important;
    /* // border: #010305; */
   }
   .img-responsives{
    height: 250px !important;
    width: 400px !important;
    /* // border: #010305; */
   }
  /* .hover-text{
    height: 70px;
    width: 100px;
  } */
  

  }

  @keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes zoomIn{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
